<div class="jumbotron">
    <h1>Books Stock API</h1>
    <p class="lead">Disponibilizar uma interface de comunicação para consultar e atualizar os estoques dos livros.</p>
    <p>@Html.ActionLink("Introdução", "Index", "Help", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>
